<ul class="formContent">
		<li class="TRow">
		<div class="TextDiv">{{tagName.name}}: </div>
                  <div class="InputDiv">
                    <input type="text" class="input" ng-model="package" />
                 </div>
                </li>
               <li class="TRow">
                  <div class="TextDiv">{{tagName.name2}}: </div>
                  <div class="InputDiv">
                    <input type="text" class="input" ng-model="packagename" />
                  </div>
                </li>
                <li class="TRow">
                  <div class="TextDiv">Owner: </div>
                  <div class="InputDiv">
                    <select class="select">
                      <option>One group</option>
                    </select>
                  </div>
                </li>
                <li class="TRow">
                  <div class="TextDiv">Description: </div>
                  <div class="InputDiv">
                    <textarea  class="textarea" ng-model="description"></textarea>
                  </div>
                </li>
              </ul>